@model WoodStore.Models.Order
@{
    ViewBag.Title = Model.Id;
}
<h2>Заказ # @Model.Id</h2>
<div>
    <dl class="dl-horizontal">

        <dt>Дата оформления заказа</dt>
        <dd>@Model.Date</dd>

        <dt>Стоимость заказа</dt>
        <dd>@Model.Price</dd>

        <dt>Курьер</dt>
        <dd>@Model.DeliveryId</dd>

        <dt>Номер клиента</dt>
        <dd>@Model.ClientsId</dd>

    </dl>
</div>