@model IEnumerable<WoodStore.Models.Order>
@{
    ViewData["Title"] = "Список заказов";

}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин строительных материалов</title>
</head>
<body>
    <h3>Заказы(Be update)</h3>
    <table class="table-condensed">
        <tr>
            <td>Дата заказа</td>
            <td>Цена</td>
            <td>Id клиента</td>
            <td>Id курьера</td>
        </tr>
        @foreach (var order in Model)
        {
    <tr>
        <td>@order.Date</td>
        <td>@order.Price</td>
        <td>@order.ClientsId</td>
        <td>
            <a asp-action="Details" asp-controller="Order" asp-route-id="@order.Id">Подробнее</a> |
            <a asp-action="Edit" asp-controller="Order" asp-route-id="@order.Id">Изменить</a> |
            <a asp-action="Delete" asp-controller="Order" asp-route-id="@order.Id">Удалить</a>
        </td>
    </tr>
        }
    </table>
</body>
</html>